extends layout

block content
  h2 #{title}: #{book.title}
  
  p #[strong Author:] 
    a(href=book.author.url) #{book.author.name}
  p #[strong Summary:] #{book.summary}
  p #[strong ISBN:] #{book.isbn}
  //- p #[strong Genre(s):] 
  //-   each val in book.genre
  //-     a(class='tag', href=val.url) #{val.name} 
      
  //- p #[strong Rating: ]
  //-   #{book.avg_rating} I don't have this working yet.
  
  hr
  p
    a(class="button" href=book.url+'/delete') Delete Book
  p
    a(class="button" href=book.url+'/update') Update Book