extends layout

block content
  h1= title
  p This Express website is based off of a tutorial on the Mozilla Developer Network. Note: check accessibility via WAVE extension. 

  if error
    p Error getting dynamic content.
  else

    //- p The library currently contains !{data.book_count} #[ books] written by !{data.author_count} #[ authors].

    div(class="list")
      each book in book_list
        a(class="list-item", href=book.url) 
          p(class="title") #{book.title} 
          p(class="author") #{book.author.name}

      else
        p There are no books.